.alert-danger{
    margin-top: 10px;
    padding: 3px;
}

.is-invalid .select2-selection{
    border-color: #ef6e6e;
    padding-right: calc(1.5em + .75rem);background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
